body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#grid {
  display: flex;
}

.tile {
  border: 1px rgb(170, 170, 170) solid;
}
