body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#grid {
  display: flex;
}

.tile {
  border: 1px rgb(88, 88, 88) solid;
}
.marked {
  background-color: black;
  border: 1px black solid;
}
